mi_mkfs
leer_sf
escribir
leer
disco
permitir
truncar
mi_stat
mi_chmod
mi_mkdir
mi_ls
mi_cat
mi_escribir
mi_escribir_varios
prueba_cache_tabla
mi_touch
mi_link
mi_rm
mi_rmdir
*.dsk*
*.txt
testd.sh
*.sh
!README.txt
!scripte1.sh
!scripte2.sh
!test12.sh
!texto2.txt
.sh
fic1
fic2
fic3
fic4
fic5
simulacion
verificacion
proves.sh